html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
	overflow: auto;
	font-family: "Microsoft Yahei";
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
/*导航栏*/
.header{
  width: 100%;
  height: 60px;
  background-color:lightgreen;
  position: fixed; 
  z-index: 999;
}
.nav{
  width: 1037px;
  height: 60px;
  margin: auto;
}
.nav img{
  float: left;
}
.nav ul{
  float: left;
  display: block;
  height: 60px;
  text-align: center;
}
.nav ul li{
  float: left;
  display: block;
  padding: 20px 25px;
}
/*首页*/
.first{
  width: 100%;
  height: 900px;
  background-image: url(../imgs/b1_bg.jpg);
}
.first_center{
  width: 1440px;
  height: 100%;
  margin: auto;
  position: relative;
}
.first_center img:nth-child(1){
  position: absolute;
  bottom: 0px;
}
.first_center img:nth-child(2){
  position: absolute;
  bottom: 100px;
  left: 130px;
  animation: moveone 2s forwards;
}
@-webkit-keyframes moveone {
      0% {
        left: 130px;
        opacity: 0;
      }
      100% {
        left: 170px;
        opacity: 1;
      }
    }
.first_center img:nth-child(3){
  position: absolute;
  top: 300px;
  right: 230px;
  animation: opacityone 4s forwards;
}
@-webkit-keyframes opacityone {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
.first_center img:nth-child(4){
  position: absolute;
  bottom: 340px;
  right: 155px;
  animation: movetwo 2s;
}
@-webkit-keyframes movetwo {
      0%{
        bottom: 0px;
      }
      100%{
        bottom:340px;
      }
}
.first_center img:nth-child(5){
  position: absolute;
  top: 480px;
  right: 405px;
  animation: opacitytwo 3s infinite;
}
@-webkit-keyframes opacitytwo {
      0%{
        opacity: 0;
      }
      50%{
        opacity: 1;
      }
      100%{
        opacity: 0
      }
}

/*营销手段*/
.yxsd{
  width: 100%;
  height: 900px;
  background-image:url(../imgs/b2_bg.jpg); 
}
.yxsd_center{
  width: 1310px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.yxsd_center img:nth-child(1){
  position: absolute;
  left: -230px;
  bottom: -70px;
  animation: yundong1 3s forwards;
}
@-webkit-keyframes yundong1{
      0%{
       bottom: -400px;
      }
      100%{
       bottom: -70px;
      }
}
.yxsd_center img:nth-child(2){
  position: absolute;
  left: 290px;
  top: 330px;
  animation: yundong2 3s forwards;
}
@-webkit-keyframes yundong2{
      0%{
       top:0px;
      }
      100%{
       top:330px;
      }
}
.yxsd_center img:nth-child(3){
  position: absolute;
  left: 770px;
  top: 425px;
  animation: yundong3 3s forwards;
}
@-webkit-keyframes yundong3{
      0%{
       top:0px;
      }
      100%{
       top:425px;
      }
}
.yxsd_center img:nth-child(4){
  position: absolute;
  left: 1000px;
  top: 425px;
  animation: yundong3 3s forwards;
}
@-webkit-keyframes yundong3{
      0%{
       top:0px;
      }
      100%{
       top:425px;
      }
}
.yxsd_center .describe{
  position: absolute;
  left: 620px;
  top: 420px;
  color: white;
  font-size: 14px;
}
.yxsd_center .describe span{
  font-size:25px;
  display: block;
  position: relative;
  top: -30px; 
}

/*营销手段2*/
.yxsdtwo{
  width: 100%;
  height: 900px;
  background-image: url(../imgs/b3_bg.jpg);
  position: relative;
}
.yxsdtwo_center{
  width: 1310px;
  height: 900px;
  margin: auto;
  position: relative;
}
.yxsdtwo_title{
  position: absolute;
  left: 440px;
  top: 150px;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
}
.yxsdtwo_title p:nth-child(1){
  font-size: 28px;
}
.yxsdtwo_title p:nth-child(1) span{
  color: #fea005;
}
.yxsdtwo_title p:nth-child(2){
  color: #bcbec0;
  display: block;
  position: relative;
  top: 30px;
  left: 30px;
} 
.yxsdtwo_center .xian{
  border-bottom:1px solid #d3d3d3;
  width: 973px;
  position: absolute;
  top: 250px;
  left: 95px;
}
.yxsdtwo_center .word_left{
  position: absolute;
  top: 270px;
  left: 200px;
  text-align: right;
  font-size: 12px;
  color: #3f3e3c;
}
.yxsdtwo_center .word_left .words1 p:nth-child(1),.words2 p:nth-child(1),.words3 p:nth-child(1){
  color: orange;
  font-size: 16px;
}
.yxsdtwo_center .word_left .words1 ,.words2 ,.words3 {
  margin-top: 50px;
}
.yxsdtwo_center .word_left .words1 p,.words2 p,.words3 p{
  display: block;
  margin-top: 10px;
}
.yxsdtwo_center .word_left .words2{
  margin-right: 60px;
}
.yxsdtwo_center .word_right{
  position: absolute;
  top: 270px;
  right: 200px;
  text-align: left;
  font-size: 12px;
  color: #3f3e3c;
}
.yxsdtwo_center .word_right .words1 p:nth-child(1),.words2 p:nth-child(1),.words3 p:nth-child(1){
  color: orange;
  font-size: 16px;
}
.yxsdtwo_center .word_right .words1 ,.words2 ,.words3 {
  margin-top: 50px;
}
.yxsdtwo_center .word_right .words1 p,.words2 p,.words3 p{
  display: block;
  margin-top: 10px;
}
.yxsdtwo_center .word_right .words2{
  margin-left: 60px;
}